.job-counts-container {
  display: flex;
  gap: 16px;
  padding: 16px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.job-counts-container > div {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: bold;
}

.completed {
  background-color: lightgreen;
}

.waiting {
  background-color: yellow;
}

.running {
  background-color: lightblue;
}

.failed {
  background-color: #ff0033;
}