.job-counts-container {
  display: flex;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.job-counts-container > div {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: bold;
}

.completed {
  background-color: lightgreen;
}

.waiting {
  background-color: yellow;
}

.running {
  background-color: lightblue;
}

.failed {
  background-color: #ff0033;
}