.job-entry {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.job-entry > div {
  flex: 1;
  padding: 8px 12px;
  border-right: 1px solid #eee;
  font-size: 14px;
  overflow-wrap: anywhere;
}

.job-entry > div:last-child {
  border-right: none;
}

.star-col {
  width: 40px;      /* Or any fixed value like 30px */
  min-width: 40px;
  max-width: 40px;
  flex: none;
  text-align: center;
}