/* Navbar.css */
.navbar {
  background-color: #00274C; /* Michigan blue */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-title {
  color: #FFCB05; /* Michigan maize */
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.logo {
  width: 100px;
}

