.main {
  display: flex;
  height: 100%;
  width: auto;
}

.jobs {
  flex-grow: 1;
  width: 100%;
  overflow: auto;
}

.top {
  display: flex;
  border: 20px;
  border-color: black;
  background-color: #f8f9fa;
}

.refresh-button {
  width: 120px;
  height: 60px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
